<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="11daabbc-f619-472e-a38f-9d49a7740a66" Publisher="CN=afshins" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Test.ADAL.WinRT.Dashboard</DisplayName>
    <PublisherDisplayName>AdalDev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="DashboardApp" Executable="$targetnametoken$.exe" EntryPoint="Test.ADAL.WinRT.Dashboard.App">
      <m2:VisualElements DisplayName="ADAL WinRT Dashboard Client" Description="ADAL WinRT Dashboard Client used by UI automated tests" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="ADAL WinRT Dashboard Client">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>